#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contactList:hover {
  cursor: pointer;
}

.contactList {
  font-family: Futura;
}

td {
  text-align: left;
  width: 250px;
}
